streamlit
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
torch
torchvision
sentence-transformers
langchain-huggingface
# Per il supporto a Ollama, potresti aver bisogno di 'ollama' o 'langchain-ollama'